
@{
    ViewBag.Title = "AddSuccesss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Accommodation_App.Models.Property
 <html>
    <head>
         <script src="~/Scripts/bootstrap.js"></script>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h3>Your announcement has been created successfully. </h3>
            <p> Now pending fot the Admin Officer to approve the announcement</p>
            <p>@Html.DisplayForModel(Model)</p>
            <div class="display-field" >
                <img src="~/UploadFiles/house.jpg" alt="Uploaded image" width="250px" />
            </div>  
        </div>
        
    </body>
</html>


