body {
	background-color: rgba(238, 238, 238, 0.81) !important;
	background-image: url('./resources/room.jpg');
	background-blend-mode: color;
	background-position-y: 15%;
}
.email{
    background-color: #fff;
    color: cadetblue;
    font-size: 15px;
    font-weight: 100;
}
.signin-up{
	margin-top:70px;
}
.signin-form{    
	background-color: rgba(0,150, 100, 0.07) !important;
	width:38%;
	display:inline-block;
	height:350px;
    text-align: center;
    color:gray;
}

.signin-button{
	color: cadetblue;
}
.signup-form{
	background-color:#fff;
	display:inline-block;
	width:60%;
    float: left;
    color:darkgrey;
    height:350px;
    text-align: center;
}
.signup-button{
  color: #fff;
  background-color: cadetblue;
  margin:0 auto;
}
footer {
    background-color: cadetblue;
    color: #fff;
    bottom: 0px;
    width: 100%;
    width: 100%;
    padding: 40px 0 50px 0;
    position: relative;
    z-index: 50;
    text-align: center;
}

section {
    border-radius: 0 0 50% 50%;
    margin-left: -400px;
    margin-right: -400px;
    position: relative;
    padding-left: 400px;
    padding-right: 400px;
}

    section:nth-of-type(5) {
        z-index: 97;
    }
