
@{
    ViewBag.Title = "_Navbar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @RenderBody()

    <div class="top-right btn-default">
        <form action='@Url.Action("Logout","Login")' method='get'>
            <input class="logout glyphicon glyphicon-log-out" type='submit' value='Logout' />
        </form>
    </div>
</body>

