@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/footer.css" />
    <link rel="stylesheet" href="~/Content/index.css" />

</head>
<body>
   <!-- <footer>
        @RenderBody()
        <div class="footer-data">
            <div class="col-md-3">
                <h4 class="copyright">Build with care by <br /> Emanuela Colta & Kholoud Alghamdi <br /> Copyright © 2017</h4>
            </div>
            <div class="col-md-3">
                <h4 class="title">INFO</h4>
                <p><a href="/#about-us">About Us</a></p>
                <p><a href="/#contact">Contact Us</a></p>
            </div>
            <div class="col-md-3">
                <h4 class="title">LEGAL</h4>
                <p><a href="/TermsPrivacy">Terms & Conditions</a></p>
                <p><a href="/TermsPrivacy/Privacy">Privacy Policy</a></p>
            </div>
            <div class="col-md-3">
                <h4 class="title">SOCIAL MEDIA</h4>
                <p id="facebook"></p><p id="twitter"></p><p id="instagram"></p><p id="youtube"></p><p id="google"></p>
            </div>
        </div>
    </footer> -->
    <footer>
        <p id="author">Build with care by <br /> Emanuela Colta & Kholoud Alghamdi</p>
    </footer>
</body>
</html>
