@{
    Layout = null; //"../Shared/footer.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/terms-privacy.css" />
</head>
<body style=" background-color: #fafafa;">
    <div class="container">
        <div class="wrapper">
            <h2 style="font-size: 120px; color:cadetblue; opacity:0.8;">Privacy Policy</h2>
        </div>
        <div class="content container">
            <h4> Privacy Policy Introduction</h4>
            <p>
                Any information placed on the Site or received from you for placing on the Site must not:
                be defamatory of any person
                be obscene, offensive, hateful or inflammatory
                promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age
                disclose the name, address, telephone, mobile or fax number, e-mail address or any other personal data in respect of any individual unless such individual has provided consent for use of his or her data in this way
                infringe any copyright, database right or trade mark of any other person
                breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence
                be in contempt of court
            </p>
            <h4>Second Chapter</h4>
            <p>
                be likely to harass, upset, embarrass, alarm or annoy any other person
                impersonate any person, or misrepresent your identity or affiliation with any person
                give the impression that the advertisement emanates from a particular person or entity if this is not the case
                advocate, promote, incite any third party to commit, or assist any unlawful or criminal act
                contain a statement which you know or believe, or have reasonable grounds for believing, that members of the public to whom the statement is, or is to be, published are likely to understand as a direct or indirect encouragement or other inducement to the commission, preparation or instigation of acts of terrorism
                contain any advertising or promote any services or web links to other sites unless this is otherwise approved by Studentpad
            </p>
            <p>
                Without prejudice to any other right or remedy available to it, Studentpad reserves the right to decline to accept your advertisement, terminate the contract and remove your property details from the Site at any time for breach of any of the warranties contained in Conditions 5, 6 and 7 or for any other reason at the absolute discretion of Studentpad and without obligation to specify its reason.
                In the event that Studentpad exercises its rights under Condition 8 above, it will refund to you a proportion of any fees paid in advance (so far as such fees relate to advertising after the cancellation date) on a pro rata basis but without further liability to you in respect of any direct or indirect losses whether by way of loss of profit, loss of bargain or otherwise.
                Whilst every effort is made to ensure that all information is entered correctly and each advertisement Studentpad carries for you onto the Site is correct, Studentpad recommends that you check the contents of each advertisement carefully once posted.
            <p>
                Studentpad gives no warranty as to the quantity and quality of the responses to any advertisement placed on the Site and no refund will be given in the event no responses are received.
                Whilst Studentpad will use its reasonable efforts to make the Site available for access via the Internet, it does not give any guarantee that the Site will be available nor does Studentpad accept any liability for any failure of the Site or your advertisement to be available due to any circumstances beyond Studentpad's reasonable control including without limitation to any breakdown or malfunctioning of any computer software, equipment, telecommunications facilities or services.
                Studentpad shall not be liable for the contents of any advertisement appearing on the Site and shall be under no obligation to ensure that any content is removed from the Site.
            </p>
            <p>
                The material displayed on the Site is provided without any guarantees, conditions or warranties as to its accuracy. Studentpad do not accept any liability arising from any inaccuracy or omission in any of the information on the Site supplied by you, any other site user or any other person.
                Studentpad's sole liability and your sole remedy in respect of any error by Studentpad in displaying or failing to display your advertisement on the Site shall be for Studentpad to use its reasonable endeavours to rectify the error as soon as reasonably practicable following receipt of an e-mail from you bringing it to Studentpad's attention.
                Studentpad's total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation or otherwise, arising in connection with the performance or contemplated performance of the services under this contract shall be limited to the amount you have paid to Studentpad in respect of the relevant advertisement(s).
            </p>
        </div>

    </div>

</body>
</html>
