@model Accommodation_App.Models.Property

@{
    ViewBag.Title = "AddCommentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

<html>
<head>
</head>
<body>
    <div class="container">
        <h3>Your comments has been submitted successfully. </h3>
        <p> It will appear at the landlord's profile page</p>
        <p> Thank you </p>
    </div>


</body>
</html>
