@model Accommodation_App.Models.Property

@{
    ViewBag.Title = "AddSuccesss";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
 <html>
    <head>
         
    </head>
    <body>
        <div class="container">
            <h3>Your announcement has been created successfully. </h3>
            <p> Now it is pending, waiting for the Admin Officer to approve the announcement</p>

        </div>

    </body>
</html>


